<div class="container">
  <section class="section">
    <p class="title is-4 is-uppercase has-text-centered">panda-txt</p>
    <div class="zoo has-background-primary">
      <div class="cage has-background-primary-light">
        <div class="bar"></div><div class="bar"></div><div class="bar"></div>
      </div>
    </div>
  </section>
</div>