<div class="zoo has-background-primary">
  <%= link_to cages_path do %>
    <div class="cage has-background-primary-light">
      <div class="bar"></div><div class="bar"></div><div class="bar"></div>
    </div>
  <% end %>
</div>